body{
    background-image: linear-gradient(90deg,#e2be33,#5eb063,#975500) !important;
}

#main-title{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#container{
    height: 2em;
}

#upload-image{
    width: 25%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    margin: auto;
}

.card.border-warning.mb-3{
    display: inline-block;
    height: 15em;
    width: 20%;
    margin: 5em 2.75em 0 2.75em;
}

.dash-graph{
    height: inherit;
}

.card-body{
    height: 11.77em;
    padding: 0;
}